body {
  background: linear-gradient(135deg, #2193b0, #6dd5ed);
}
.main-container {
    width: 33%;
}
.center-box {
    height: 55%;
}
.box {
    width: 40%;
    background-color: white;
    border-radius: 25px;
    height: 33%;
}
.upload-box 
{
    border-radius: 6px;
    border: 2px dashed rgb(42, 86, 153);
    background: rgba(22, 102, 155, 0.11);
}
.inside-box {
    color: rgba(1, 5, 255, 0.6)
}