.progressbar {
    background-color: #e9ecef;
    width: 60%;
    border-radius: 5px;
}
.progress {
    width: 0;
    background-color: #60a5fa !important;
    -webkit-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    transition: width 0.2s ease;
}
